<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <header>
            <a><img src = ./images/logo.svg alt="Our logo" width="184" id="LogoImage"></a>
            <ul class="navigation" id="TopMenu">
              <li class="HeaderLinks"><a class="HeaderFont" href="./contact">Contact</a></li>
              <li class="HeaderLinks"><a class="HeaderFont" href="./index">Home</a></li>
            </ul>
        </header>
        <div id="AboutContent">
            <div id="AboutUs">
                <p id="ABit">A BIT ABOUT US</p>
                <p class="AboutBodyText">
                    We are a super trustworthy, and not creepy in any way, company filled with love for green paper. Established in 2015, we gained support quickly and our wonderful Kool-Aid started changing lives. We want to thank all our supporters, even though they aren't with us anymore.
                </p>
            </div>
            <div id="Jebediah">
                <p><a><img src=./images/jeb.jpg id="JebediahPic"></a></p>
                <p><span class="AboutName">Jebediah Jameson, </span><span class="AboutTitle">Cofounder</span></p>
                <p class="AboutBodyText">I have a direct line to God and have his explicit blessing to create this wonderful drink and bring his sheeple back to him in the afterlife.</p>
            </div>
            <div id="Jezebelle">
                <p><a><img src=./images/jez.jpg id="JezebellePic"></a></p>
                <p id="JezTitle"><span class="AboutName">Jezebelle Jameson, </span><span class="AboutTitle">Cofounder</span></p>
                <p id="JezBody" class="AboutBodyText">I am the moral support for the amazing leader that is my husband. His communion with God is a miracle and everyone should be able to take advantage of his divine greatness. Kool-Aid for the win!</p>
            </div>
        </div>

        <footer id="IndexFooter">
            <ul class="navigation" id="FooterMenu">
              <li class="FooterLinks"><a class="FooterFont" href="./index">Home</a></li>
              <li class="FooterLinks"><a class="FooterFont" href="./about">About Us</a></li>
              <li class="FooterLinks"><a class="FooterFont" href="./contact">Contact</a></li>
            </ul>
            <ul id="FooterSocialMenu">
                <li class="FooterImage"><a href="https://www.facebook.com"><img src = ./images/facebook.svg alt="Facebook logo"  class="SocialImage"></a></li>
                <li class="FooterImage"><a href="https://www.instagram.com"><img src = ./images/instagram.svg alt="Instagram logo" class="SocialImage"></a></li>
                <li class="FooterImage"><a href="https://www.twitter.com"><img src = ./images/twitter.svg alt="Twitter logo" class="SocialImage"></a></li>
            </ul>

            <div id="FooterBottomRow">
                <p>&copy;ShaedyCult2016</p>
            </div>
        </footer>


    </body>
