<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
        <header>
            <a><img src = ./images/logo.svg alt="Our logo" width="184" id="LogoImage"></a>
            <ul class="navigation" id="TopMenu">
              <li class="HeaderLinks"><a class="HeaderFont" href="./about">About Us</a></li>
              <li class="HeaderLinks"><a class="HeaderFont" href="./contact">Contact</a></li>
            </ul>
        </header>
        <div id="IndexContent">
        <div id="LeftArea">
            <p><a><img src = ./images/sodacans.png alt="Can of Kool Aid" id="CansImage"></a></p>
        </div>
            <div id="RightArea">
                <p id="Headline">We've distilled God's essences into one simple 12oz can.</p>
                <p id="Subtext">This drink is so amazing we're giving them away for free! The afterlife is only a click away!</p>
                <form action="./contact.html"><button id="BigButton" >SEND ME MY KOOL-AID</button></form>
            </div>
        </div>
        <footer id="IndexFooter">
            <ul class="navigation" id="FooterMenu">
              <li class="FooterLinks"><a class="FooterFont" href="./index">Home</a></li>
              <li class="FooterLinks"><a class="FooterFont" href="./about">About Us</a></li>
              <li class="FooterLinks"><a class="FooterFont" href="./contact">Contact</a></li>
            </ul>
            <ul id="FooterSocialMenu">
                <li class="FooterImage"><a href="https://www.facebook.com"><img src = ./images/facebook.svg alt="Facebook logo"  class="SocialImage"></a></li>
                <li class="FooterImage"><a href="https://www.instagram.com"><img src = ./images/instagram.svg alt="Instagram logo" class="SocialImage"></a></li>
                <li class="FooterImage"><a href="https://www.twitter.com"><img src = ./images/twitter.svg alt="Twitter logo" class="SocialImage"></a></li>
            </ul>

            <div id="FooterBottomRow">
                <p>&copy;ShaedyCult2016</p>
            </div>
        </footer>
    </body>
